body{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.left{
    width: 20vw;
    height: 75vh;
    border-radius: 7px;
    margin-left: 0.7rem;
    background-color: rgba(23, 22, 22, 0.951);
}
.right{
    width: 80vw;
    height: 75vh;
    background-color: rgba(23, 22, 22, 0.951);
    margin-right: 0.7rem;
    margin-left: 0.5rem;
    border-radius: 7px;
}

.parent{
    display: flex;
    flex-direction: row;
}

.header{
    max-width: 100%;
    width: 99vw;
    height: 9vh;
    background-color: black;
    /* margin-right: 1rem;*/
    margin-left: 1rem; 
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}

.header1{
    display: flex;
    align-items: center;
}
.logosvg{
    height: 45px;
    margin-left: 1rem;
}

.header2{
    display: flex;
    align-items: center;
    margin-left: 15vh;
    gap: 10px;
}

.header3{
    display: flex;
    padding-right: 2rem;
    gap: 2vw;
    
}
.search{
    display: flex;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content:space-around;
    background-color: rgba(27, 26, 26, 0.951);
    border-radius: 2vw;
    align-items: center;
    width: 30vw;
    height: 5vh;
    cursor: pointer;
}

.search:focus-within{
    border: solid 2px white;
    pointer-events:none;
    
}

.search:hover{
    background-color: rgba(43, 41, 41, 0.951);
    transition-timing-function:cubic-bezier(0.02, 0.31, 0.17, 1);
    transition: background-color linear;
    border: solid 1px rgb(67, 67, 67);
}

.search:hover>div>.searchsvg{
    fill: black;
    transition: fill linear;
}

.search:hover>div>.browsesvg{
    fill: black;
    transition: fill linear;
}

.logosvg, .homesvg, .notifysvg, .browsesvg, .searchsvg, .installsvg{
    height: 4.4vh;
    filter: invert();
    cursor: pointer;
}

.searchsvg, .browsesvg{
    height: 3.5vh;
}

.installsvg, .notifysvg {
    height: 2.5vh;
}

.notifysvg, .browsesvg, .searchsvg{
    fill: rgb(67, 67, 67);
}

.sep{
    background-color: rgb(67, 67, 67);
    height:4vh;
    width: 0.1vw;
    margin-left: 4vw;
}

.searchinput{
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 2.1vh;
    height: 3vh;
    font-family: sans-serif;
    width: 17vw;
    
}

.searchinput::placeholder{
    color: rgb(188,188,188);
    
}


svg{
    filter: invert();
}

.homeicon{
    width: 2vw;
    height: 2vw;
    padding: 8px;
    background-color: rgba(27, 26, 26, 0.951);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.homeicon[title]:hover{
    color: brown;
}

.installtext{
    font-weight:600;
    font-family: sans-serif;
    font-size: 2.3vh;
    cursor:pointer;
}

.installspan{
    width:auto;
    
}

.installspan:hover>.installsvg{
    height: 2.8vh;
    transition-timing-function:cubic-bezier(0, 0, 0.58, 0.72);
}
.installspan:hover>.installtext{
    font-size: 2.5vh;
    transition-timing-function:cubic-bezier(0, 0, 0.58, 0.72);
}

.addsvg, .arrowsvg,.leftsearchicon, .listicon{
    height: 2.1vh;
    fill: rgb(67, 67, 67);
    visibility: visible !important
}

.librarysvg{
    height: 3.5vh;
    fill: rgb(67, 67, 67);
}

.librarytext{
    color: rgb(160, 160, 160);
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

.leftoption{
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    width: auto;
    background-color: rgb(43, 42, 42);
    font-family: sans-serif;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
}

.leftoption:hover{
    background-color: rgb(51, 50, 50);
}

.lib:hover>.librarysvg{
    fill: black;
}

.lib:hover>.librarytext{
    color: white;
}

.addicon, .arrowicon{
    padding: 6px;
    background-color: rgb(36, 36, 36);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.addicon:hover, .arrowicon:hover{
    visibility: visible;
}

.bottom{
    /* background-color: rgb(54, 54, 54); */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    height:15vh;
    position: absolute;
    bottom: 0;

}

.middlebottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: inherit;

    
}

.playbuttons{
    display: flex;
    gap: 1.6vw;
    align-items: center;
    
}

.previcon, .mixicon, .nexticon, .repeaticon{
    height: 1.1vw;
    fill: rgb(67, 67, 67);
}

.playicon{
    fill: white;
    height: 1.3vw;
}

.playspan{
    display: flex;
    align-items: center;
    height: auto;
    padding: 8px;
    background-color: white;
    border-radius: 50%;
}

.songlist ul li{
    list-style-type: none;
    font-family: sans-serif;
} 
